

    

<div class="row bgt">
<div class="col-md-6">

<section class="intro">
    <div class="bg-image h-100" style="background-image: url('https://mdbootstrap.com/img/Photos/new-templates/tables/img2.jpg');">
      <div class="mask d-flex align-items-center h-100" style="background-color: rgba(0,0,0,.25);">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="card bg-dark shadow-2-strong">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-dark table-borderless mb-0">
                      <thead>
                        <tr>
                          <th scope="col">ID</th>
                          <th scope="col">JUEG0</th>
                          <th scope="col">PLATAFORMA</th>
                          <th scope="col">PRECIO</th>
                          <th scope="col">DESCUENTO</th>
                          <th scope="col">DESCRIPCIÓN</th>
                          <th scope="col">PORTADA</th>
                          <th scope="col">STOCK</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let producto of dataProducto">
                          <th scope>{{producto.id}}</th>
                          <td>{{producto.nombre}}</td>
                          <td>{{producto.plataforma}}</td>
                          <td>${{producto.precio}}</td>
                          <td>${{producto.descuento}}</td>
                          <td>{{producto.descripcion}}</td>
                          <td><a href="{{producto.imagen}}" target="_blank"><img src="{{producto.imagen}}" class="imagen" style="width: 150px; height: 150; min-width: 150px; min-height: 150px;"  ></a>
                          </td>
                          <td>{{producto.stock}}</td>
                            
                            <br>
                            
                        
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    </section>
</div>
<div class="col-md-6 container">
    <h2 class="letform">Editar productos</h2>
        <form #apform="ngForm">
            <div class="mb-3 mt-3 letform ">
              <label for="id">Ingrese un ID:  </label>
              <input type="text" name="id" [(ngModel)]="ide">
            </div>
            <div class="mb-3 mt-3 letform">
              <label for="">Ingrese el nombre: </label>
              <input type="text" name="nombre" [(ngModel)]="nombre">
            </div>
            <div class="mb-3 mt-3 letform">
                <label for="">Ingrese la plataforma del juego: </label>
                <input type="text" name="plataforma" [(ngModel)]="plataforma">
              </div>
              <div class="mb-3 mt-3 letform">
                <label for="text"> Precio: </label>
                <input type="text" name="precio" [(ngModel)]="precio">
              </div>
              <div class="mb-3 mt-3 letform">
                <label for="text"> Descuento: </label>
                <input type="text" name="descuento" [(ngModel)]="descuento">
              </div>
            <div class="mb-3 mt-3 letform">
              <label for="">Ingrese Caracteristica: </label>
              <input type="text" name="descripcion" [(ngModel)]="descripcion">
            </div>
           
            <div class="mb-3 mt-3 letform">
              <label for="text"> Ingrese Imagen URL: </label>
              <input type="text" name="imagen" [(ngModel)]="imagen">
            </div>
            <div class="mb-3 mt-3 letform">
                <label for="text"> Stock: </label>
                <input type="text" name="stock" [(ngModel)]="stock">
              </div>
            <br>
            <br>
            <button (click)="guardarProducto(ide, nombre,plataforma,precio,descuento,descripcion,  imagen,stock)" class="btn-primary">Enviar</button>
            <br>
            <br>
            <input type="submit" (click)="editarProductos(ide, nombre,plataforma,precio,descuento,descripcion,  imagen,stock)" class="btn-warning btn-warning-c" value="Editar">
            <br>
            <br>
            <input type="submit" (click)="eliminarProductos(ide)" class="btn-danger btn-danger-c" value="Eliminar">
          </form>
        </div>

</div>
