<body>

    <div class="container-fluid p-5 text-white text-center" style="background-color: black;">
      <h1>Tu Carrito</h1>
     
    </div>
      
    <div class="container mt-5">
      <div *ngIf="carrito.length > 0">
        <h2>Carrito de Compras</h2>
        <ul>
          <li *ngFor="let producto of carrito">{{ producto.nombre }} - ${{ producto.precio }}</li>
        </ul>
      </div>
      <div *ngIf="carrito.length === 0">
        <p>El carrito está vacío.</p>
      </div>
    </div>
    
    </body>