<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="card" *ngIf="Producto; else error">
        <div class="card_landing"  ><img src="{{ Producto.imagen }}" alt="">
         
        </div>
        <div class="card_info">
          <div class="head">
            <p class="title">{{ Producto.nombre }}</p>
            <div class="description">
              <div class="item">
                <i class="fas fa-money"></i>
                <p>${{ Producto.precio }}</p>
              </div>
              <div class="item">
                <i class="fas "></i>
                <p>Disponibles en Stock  {{ Producto.stock }}</p>
              </div>
            </div>
          </div>
      
          <div class="content">
           
            <ul class="list">
              <li>Plataforma {{ Producto.plataforma }}</li>
              <li>Descuento ${{ Producto.descuento }}</li>
              <li>{{ Producto.descripcion }}</li>
              
            </ul>
          </div>
      
          <div class="action">
            <a href="#" class="btn">{{ detalleProducto.botonTexto }}</a>
          </div>
        </div>
      </div>
      <ng-template #error>
        <h1>ELEMENTO NO ENCONTRADO</h1>
    </ng-template>
</body>

