<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    
    <div class="card">
        <div class="card_landing" style="--i:url({{ detalleProducto.imagen }})">
          <h6>{{ detalleProducto.nombre }}</h6>
        </div>
        <div class="card_info">
          <div class="head">
            <p class="title">{{ detalleProducto.titulo }}</p>
            <div class="description">
              <div class="item">
                <i class="fas fa-money"></i>
                <p>{{ detalleProducto.precio }}</p>
              </div>
              <div class="item">
                <i class="fas fa-user"></i>
                <p>{{ detalleProducto.cantidad }}</p>
              </div>
            </div>
          </div>
      
          <div class="content">
            <p class="title">{{ detalleProducto.descripcion }}</p>
            <ul class="list">
              <li>{{ detalleProducto.caracteristica1 }}</li>
              <li>{{ detalleProducto.caracteristica2 }}</li>
              <li>{{ detalleProducto.caracteristica3 }}</li>
              <li>{{ detalleProducto.caracteristica4 }}</li>
              <li>{{ detalleProducto.caracteristica5 }}</li>
              <li>{{ detalleProducto.caracteristica6 }}</li>
            </ul>
          </div>
      
          <div class="action">
            <a href="#" class="btn">{{ detalleProducto.botonTexto }}</a>
          </div>
        </div>
      </div>
</body>

