<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 
</head>

<body>
  <h1 class="h1">GAMES XTREME </h1>
  <section class="buttons">
    <a href="https://www.facebook.com/?locale=es_LA" class="fa fa-facebook"></a>
    <a href="https://maps.app.goo.gl/3RfRxKVBfxEFPMhu8" class="fa fa-map"></a>
    <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
    <a href="https://twitter.com/?lang=es" class="fa fa-twitter"></a>
    <a href="https://twitter.com/?lang=es" class="fa fa-youtube"></a>
    <a href="https://www.google.com/intl/es/gmail/about/" class="fa fa-google"></a>
  </section>

</body>
