
<div>
  <h3 style="color: rgb(40, 206, 25); background-color: black;">GAME XTREME</h3>
<section class="intro">
<div class="bg-image h-100" style="background-image: url('https://mdbootstrap.com/img/Photos/new-templates/tables/img2.jpg');">
  <div class="mask d-flex align-items-center h-100" style="background-color: rgba(0,0,0,.25);">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="card bg-dark shadow-2-strong">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-dark table-borderless mb-0">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">JUEG0</th>
                      <th scope="col">PRECIO</th>
                      <th scope="col">PORTADA</th>
                      <th scope="col">DETALLE</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let producto of dataProducto">
                      <th scope>{{producto.id}}</th>
                      <td>{{producto.nombre}}</td>
                      <td>${{producto.precio}}</td>
                      <td><a href="{{producto.imagen}}" target="_blank"><img src="{{producto.imagen}}" class="imagen" style="width: 150px; height: 150; min-width: 150px; min-height: 150px;"  ></a>
                      </td>
                      <td>
                        <a href="detalles/{{producto.id}}">Detalle</a>
                        <br>
                        <button (click)="addToCart(producto)">Agregar al carrito</button>
                    </td>
                    </tr>
                  </tbody>
                </table>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" >
  <section class="carrito">
    <h4 style="color: rgb(5, 151, 30);">Carrito</h4>
    <table class="table table-dark table-borderless mb-0">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">JUEGO</th>
          <th scope="col">PRECIO</th>
          <th scope="col">PORTADA</th>
          <th scope="col">ACCIONES</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of carrito">
          <th scope>{{ producto.id }}</th>
          <td>{{ producto.nombre }}</td>
          <td>${{ producto.precio }}</td>
          <td><img src="{{ producto.imagen }}" class="imagen" style="width: 50px; height: 50px;"></td>
          <td>
            <button (click)="removeFromCart(producto)">Eliminar del carrito</button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  <button (click)="guardarCarrito()">Ir a la Tienda y Guardar</button>
</div>

</section>
<div>
  
</div>