

<body style="background-image: url(https://e0.pxfuel.com/wallpapers/379/428/desktop-wallpaper-gaming-black-gaming.jpg);">
  <div class="container">
    <div>
        <h3 style="color:rgb(40, 206, 25); text-align: center;">GAME XTREME</h3>
        <p style="color: aliceblue;">En el corazón de la experiencia gamer, emerge Game Xtreme como un santuario para los amantes de los videojuegos. Con un ambiente vibrante y acogedor, nuestro equipo está compuesto por apasionados gamers que comparten una conexión única con la comunidad. Nos enorgullece ofrecer un espacio donde los jugadores pueden encontrar no solo productos de alta calidad, sino también un lugar donde compartir su entusiasmo y estar rodeados de una comunidad que comparte su amor por los videojuegos.</p>
        <h3 style="color:rgb(40, 206, 25); text-align: center;">MISIÓN DE GAME XTREME</h3>
        <p style="color: aliceblue;">La misión de Game Xtreme es elevar la experiencia gamer a nuevas alturas. Nos esforzamos por proporcionar a nuestros clientes los últimos y más emocionantes lanzamientos, junto con una cuidadosa selección de productos que enriquezcan su experiencia de juego. Además, buscamos crear un ambiente donde la comunidad gamer se sienta en casa, un lugar donde puedan conectarse, competir y compartir sus logros y desafíos. Nos comprometemos a ser más que una tienda; queremos ser un punto de encuentro para la cultura gamer.</p>
        <h3 style="color: rgb(40, 206, 25); text-align: center;">VISIÓN DE GAME XTREME</h3>
        <p style="color: aliceblue;">En Game Xtreme, visualizamos un futuro donde cada gamer encuentre su paraíso personal. Queremos ser reconocidos como el destino por excelencia para los apasionados del juego, brindando no solo productos de alta calidad, sino también experiencias únicas que fortalezcan la conexión entre los gamers. Aspiramos a ser pioneros en la innovación y a contribuir al crecimiento y desarrollo de la comunidad gamer, siempre impulsados por nuestra pasión compartida por el mundo de los videojuegos.</p>
        <br><br>
    </div>
       
<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel" style="background-color: black;">

  

  <div class="midon container" style="background-color: black;">
    <br><br>
    <h1 style="text-align: center; color: rgb(40, 206, 25);" >PERSONAL DE GAME XTREME</h1>
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" *ngFor="let personal of dataPersonal">
          <div class="carousel-item active md-col-3">
            <img src={{personal.imagen}} class="d-block w-100" alt="..." width="35px" height="350px">
            <h3 style="color: rgb(247, 248, 250); text-align: center;">{{personal.nombre}}</h3>
            <p style="text-align: center; color: rgb(247, 248, 250); " >{{personal.cargo}}</p>
            <p style="text-align: center; color: rgb(247, 248, 250); " >{{personal.edad}} años</p>

          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" style="color: black;"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
</div>
</div>

</body>
