<div class="container " >
    <div class=" sign-in ">
      <form (ngSubmit)="guardarUsuario()" #form="ngForm">
            
            <span>Registro</span>
            <input type="text" placeholder="nick" name="nick" [(ngModel)]="nick">
            <input type="password" placeholder="contraseña" name="pass" [(ngModel)]="pass">
            <span>Elije tu Rol</span>
            <select class="form-select "  name="rol" [(ngModel)]="rol">
             
              <option>usuario</option>
              <option>visitante</option>
            </select>
            
            <button>Unirse</button>
            <button (click)="regresar()">Regresar</button>
            
        </form>
    </div>
            <div class="toggle-panel toggle-right">
                <h1>Bienvenido a GAMES XTREME</h1>
                <p>Al registrarte podras acceder a varias promociones y novedades solo para nuestros clientes.</p>
            </div>

        </div>